SM_MODEL_DIR="data/sm/model/"
SM_OUTPUT_DIR="data/sm/output/"
SM_CHECKPOINT_DIR="data/sm/checkpoints/"

YOLO_IMGSZ=128
YOLO_BATCH_SIZE=32
YOLO_WEIGHTS="yolov5n.pt"

YOLO_DATA="data/yolo_export/Taxonomie_Baum/Taxonomie_Baum_local.yaml"
YOLO_HYP="data/yolo_export/Taxonomie_Baum/hyp.yaml"
YOLO_PROJECT="data/sm/checkpoints/"
YOLO_NAME="Taxonomie_Baum_resume"
YOLO_SAVE_PERIOD=-1
