SM_CHANNEL_YOLO_DATASET="data/sm/input/data/yolo_dataset"
SM_MODEL_DIR="data/sm/model/"
SM_OUTPUT_DATA_DIR="data/sm/output/"

YOLO_DATASET_FILE="dataset.yaml"
YOLO_HYP_FILE="hyp.yaml"
YOLO_PROJECT="data/sm/checkpoints/"
YOLO_RESUME_PATH="data/sm/checkpoints/Taxonomie_Baum/weights/last.pt"
YOLO_NAME="Taxonomie_Baum"
YOLO_SAVE_PERIOD=-1
